.tooltip {
  position: absolute;
  padding: 2px;
  background: white;
  opacity: 0.8;
  pointer-events: none;
  border: 1px solid black;
  border-radius: 5px;
}
.tooltip h3,
h4 {
  text-align: left;
}
.tooltip h4 {
  font: 14px sans-serif;
}

.table {
  font-size: 0.7em;
}

.x-axis,
.y-axis {
  font-size: 0.5em;
}
