body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
}

.area-chart,
.bar-chart {
  flex-basis: 45%;
}

.area {
  fill: steelblue;
}

.tooltip-line {
  stroke: black;
}

.tooltip-text {
  font-size: 12px;
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
  fill: black;
}

text {
  font-size: 14px;
}